body {
  margin: 0px;
  font-family: Tahoma, sans-serif;
  font-size: small;
}

#container {
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.main {
    padding: 40px;
    padding-top: 0px;
}
